delete firewall family ethernet-switching filter lPrioritize term lAudio from source-address {{lIP}}/32
delete firewall family ethernet-switching filter lPrioritize term lAudio from source-port {{lPort}}
